@font-face {
  font-family: 'icon';
  src: url('./assets/icon.woff') format("woff");
}

.icon {
  font-family: 'icon';
  font-size: 16px;
}

.hello {
  color: black;
}
.block-bg {
  background-image: url('./imgs/bg.png') !important;
}
